.saved-tp {
  display:flex; 
  flex-wrap: wrap;
  justify-content: space-evenly; 
}

.past-tx-box {
  flex: 1;
  margin-left: 2em;
}

.past-tx-header {
  font-size: 22.5pt;
}

.past-tx-title {
  font-size: 18pt;
}

.same {
  text-align: left;
}