.login-component {
  height: 100vh;
}

.log-in-page {
  align-items: center;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input, .login-button {
  border: none;
  border-radius: .3em;
  font-size: .9em;
  font-family: sans-serif;
  padding: .3em;
  margin: .3em;
}

.login-input, .login-form {
  padding: .3em .5em;
}

.login-button {
  display: inline-block;
  padding: .3em .6em;
  background: darkcyan;
  color: white;
}

@media screen and (min-width:800px){
  .log-in-page {
    padding-left: 10em;
    }
}