.how-to-paragraph{
  padding: 2em;
  text-align: left;
  flex: 1;
  }

  .how-to-h3 {
    font-size: 17pt;
    font-weight:bold;
  
  }

@media screen and (min-width:800px){
  .how-to-section {
    display:flex;
    }
}
