.trigger-point-page {
  height: 100vh;
}

.save-button {
  border: none;
  border-radius: .3em;
  font-size: .9em;
  font-family: sans-serif;
  padding: .3em;
  margin: .3em;


  display: inline-block;
  padding: .3em .6em;
  background: #307E7C;
  color: white;
}

@media screen and (min-width:800px){
  .trigger-point-results {
  display: flex;
}

.trigger-point-image-title {
  flex:1;
}

.trigger-point-content {
flex: 1;
text-align: left;
padding-right: 2em;
}

}