
.nav-link a {
  color: palegoldenrod;
  padding: 16px;
  text-decoration: none;
  display: block;
  /* background: url(.../public/images/background.jpg); */
} 

.nav-link a:hover {
  background-color: #ddd;
  color: black;
}

.nav-bar {
  width: 200px;
  background-color: #111;
  height: 100%;
}