/* global css - leave in like body, links and stuff i want 
that are universal  */

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* keeps so doesn't add extra when adding margins/borders etc.  */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  color: #444;
  text-align: right;
  line-height: 1.5;
}

a {
  color: black;
}

header {
  padding: 45px 15px;
}

.nav-bar {
background: salmon;
}

.home-page {
  background: lightblue;
}

.App {
border: 5px solid green;
display: flex;
}

/* section {
  min-height: 200px;
  padding: 30px 15px;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}  */