/* global css - leave in like body, links and stuff i want that are universal  */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* keeps so doesn't add extra when adding margins/borders etc.  */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  justify-content: center;
  /* background: palevioletred */
}

html, body, #root, .App {
  min-height: 100%;
  height: 100%;
}

.App {
  /* border: 5px solid green; */
  display: flex;
  }

a {
  color: black;
}

header {
  padding: 45px 15px;
}

img {
  justify-content: space-between;
  margin: 30px;
  border-radius: 25%;
  /* padding: 50px; */
  /* box-shadow: 0px 0px 30px gray */
  /* max-width: 100%;
  max-height: 100%; */
}


.home-page, .landing-page, .about-page,
.how-to-page, .trigger-point-page,
.past-treatments-page, .login-component, .sign
 {
   flex: 5;
   overflow: auto; 
   /* scrollbar-width: 0;  */
  /* position: relative; */

}

.add-notes, .past-treatments-page {
  justify-content: space-between;
  flex-direction: row-reverse;
/* min-width: 80%; */
 /* overflow: auto;  */
}


