 /* a > img {
 width: 280px;
 height: 400px;
 object-fit: cover;
}  */


.home-h1 {
  font-size: 18pt;
  font-weight:bold;
  margin-top: 2em;
}

.tp-button-links {
justify-content: right;
border:black;
}
